---
layout: default
main_image_path: /assets/mouse-front.jpg
---

<div class="flashhome">

  {% if page.main_image_path %}
  <p>
  {% include img.html src=page.main_image_path alt=page.main_image_description  %}
  </p>
  {% endif %}
  <div class="editable">
    <p><a class="readmore" target="_blank" rel="noopener" href="/assets/AS_Easter_ExeterHall_20171.pdf">Download<br />the Easter School 2022 programme</a></p>
  </div>
</div>

        <!-- /content -->
<div class="featureboxes">
<div class="editable">
  <p class="strapline">We Are Back AGAIN with another fun Summer programme for kids!</p>
  <p class="strapline">Come &amp; make an Amazing, Stop-Frame, Cut-Out, Model or LEGOanimation in these safe, fun CREATIVE workshops in a NEW venue!</p>
  <h2 class="strapline">1. Amazing Animation Taster Day 1. Wednesday 3 August</h2>
  <p class="strapline">Come and have some summer fun, in this one-day taster animation workshop!Ever wanted to make a mini Wallace and Gromit style movie, or LEGO, Model orCut Out Animation? Give it a try in this fun session - all work on You Tube.Wednesday 3 August. 9.30am &ndash; 3.30pm. Ages 8-15. Only &pound;17.50! 10xMax</p>
  <h2 class="strapline">2. Mega, Monster, Mash-IT-Up Animation! Friday 5 August</h2>
  <p class="strapline">Make a MONSTER of an animation on this fun workshop where you get to make amonster or bring your own models, toys and drawings to life - using iPads, andsets. Or, make Godzilla and Kong battle it out on this animation day! Handsanitiser, wipes, pencils, pens, paper to be given to each person or small group.</p>
  <p class="strapline">Friday 5 August. 9.30am &ndash; 3.30pm. Ages 8-15. Only &pound;17.50! 10 x Max</p>
  <p class="strapline">&nbsp;</p>
  <p class="strapline"><strong>For ALL enquiries call the Booking Line on:</strong>Tel: 07521 772148. Or email: <a href="mailto:asincorporated@gmail.com?subject=Summer%20booking">asincorporated@gmail.com</a></p>
  <p class="strapline">&nbsp;</p>
  <p class="strapline">Address: West Kidlington Primary School &amp; Nursery.Oxford Road. Kidlington. Oxon OX5 1EA</p>
  <p class="strapline">&nbsp;</p>
  <p class="strapline">The Animation Station is an inclusive arts organisation which aims to animate young hearts and minds through the use of animation and digital moving image in relation to new technology, artists and the community.</p>
  <p>Based on the borders of Northamptonshire, Oxfordshire and Warwickshire in Banbury, it delivers core programmes of activities with schools, community groups, colleges and arts organisations embedding creativity, excellence and aspiration at the heart of its programme.</p>
  <p>Animation Station is managed by Clinton Osborne with a professional network of associate artists and support from schools, the community, local authorities and grant funding.</p>
</div>

    {% include youtubeplayer.html id="videoseries?list=UUcpWIbyCd8KUyidAZgZxAZg" %}
    <p class="description text-center">See us on<br /><a href="https://www.youtube.com/user/animationstationuk"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube" /></svg></a></p>

  <p class="text-center">
  </p><p class="text-center">Catch up with us on<br /><a href="https://twitter.com/ani_station"><svg class="icon icon-twitter_sign"><use xlink:href="#icon-twitter_sign" /></svg></a></p>
</div>
