---
layout: default
main_image_path: /assets/mouse-front.jpg
---

<div class="flashhome">

  {% if page.main_image_path %}
  <p>
  {% include img.html src=page.main_image_path alt=page.main_image_description  %}
  </p>
  {% endif %}
  <div class="editable">
    <p><a class="readmore" target="_blank" rel="noopener" href="/assets/AS_Easter_ExeterHall_20171.pdf">Download<br />the Easter School 2022 programme</a></p>
    <p><strong>Amazing Animation Taster Day</strong> Thursday 14 April</p>
  </div>
</div>

        <!-- /content -->
<div class="featureboxes">
<div class="editable">
  <p class="strapline">Make a really fun ANIMATION for Easter - in this safe, one day stop-frameanimation making workshop for children with Animation Station. Make yourown funny easter characters and bring them to life with backgrounds, props,photos, music, and sound effects. For all young animators and artists!</p>
  <p class="strapline">Come and have a play on this fun, hands-on, one-day taster animation workshop!Ever wanted to make a mini Wallace and Gromit, Charlie and Lola -Model or Cut Out Animation? Or just play with iPads, make an animation andmash up it all together with music, effects, pictures, flip books and Apps.</p>
  <p class="strapline">Hand sanitiser, wipes, pens, pencils, paper given for each child to work with.</p>
  <p class="strapline"><strong>Thursday 14 April. 9.30 am &ndash; 3.30pm. Ages 8 - 14. Price only &pound;17.50</strong></p>
  <p class="strapline">Animation Station @ Exeter Hall, in association with Kidlington Parish Council at Exeter Hall. Oxford Road. Kidlington. Small Hall. OX5 1AB</p>
  <p class="strapline">For all enquiries call the Booking Line on:Tel: 07521 772148<br />Or email: asincorporated@gmail.com</p>
  <p class="strapline">The Animation Station is an inclusive arts organisation which aims to animate young hearts and minds through the use of animation and digital moving image in relation to new technology, artists and the community.</p>
  <p>Based on the borders of Northamptonshire, Oxfordshire and Warwickshire in Banbury, it delivers core programmes of activities with schools, community groups, colleges and arts organisations embedding creativity, excellence and aspiration at the heart of its programme.</p>
  <p>Animation Station is managed by Clinton Osborne with a professional network of associate artists and support from schools, the community, local authorities and grant funding.</p>
</div>

    {% include youtubeplayer.html id="videoseries?list=UUcpWIbyCd8KUyidAZgZxAZg" %}
    <p class="description text-center">See us on<br /><a href="https://www.youtube.com/user/animationstationuk"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube" /></svg></a></p>

  <p class="text-center">
  </p><p class="text-center">Catch up with us on<br /><a href="https://twitter.com/ani_station"><svg class="icon icon-twitter_sign"><use xlink:href="#icon-twitter_sign" /></svg></a></p>
</div>
