
/* ANIMSTATION STATION */


body {
	@include linear-gradient(lighten($action-color, 90%) 0%, lighten($action-color, 60%) 80%, lighten($action-color, 50%) 100%);
	color: #000;
}

h1 {
  font-size: 1.5em;
  margin: 0.5em 0em;
  font-weight: normal;
  color: $action-color;
}
h2 {
  font-size: 1.5em;
  margin: 1em 0;
  font-weight: normal;
  color: $pink;
  line-height: 1.1em;
}


h3 {
  font-size: 0.8em;
  margin: 0em 0em 0em 0em;
  font-weight: bold;
  color: $light-gray;
}


p {
  margin: 0.5em 0em;
  color: $dark-gray;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: $purple;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: $purple;
}

.text-center {
	text-align: center;
}
// Buttons

.readmore{
    @extend button;
    //@include bbb-simple-style(lighten($action-color, 55%), $action-color);
    @include bbb-flat-style(lighten($action-color, 55%), $action-color);
    //@include bbb_3D_style(darken($action-color, 5%), $white, 2px);
    @include bbb_size (1);
    font-size: modular-scale(1);
    &:hover:not(:disabled) {
        color: darken($action-color, 20%);
  }
}
// Icons
.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
a:hover .icon { /* hover colour */
    fill: $action-color;
}

.icon--readmore {
    fill: $action-color;
    margin-bottom: -5px;
    width: 40px;
    height: 40px;
}
a:hover .icon--readmore {
	fill: darken($action-color, 20%);
}

.icon-youtube, .icon-twitter_sign {
	width: 60px;
  height: 60px;
}


.icon-twitter_sign { fill: $twitter; }
.icon-youtube { fill: $youtube; }


.logo img {
	padding: 1em;
}

.branding, .legal, .page {
 	@include outer-container;
}
.wrapper {
	@include outer-container;
	background-color: #FFF;
}

.flashhome {
	padding: 1em;
	text-align: center;
}

.featureboxes {
	margin: 0 auto;
	max-width: 42em;
	padding: 1em;
}

.logo-wrapper {
	text-align: center;
}

.topcontacts {
	text-align: center;
}

.booking {
	padding: 1em 0;
	font-size: modular-scale(2);
	line-height: 1.2em;
	color: $action-color;
	font-weight: bold;
}

/*
* FOOTER
*/

.legal {
  padding: 0;
  text-align: center;
  border-top: 0px solid $black;
  @include linear-gradient($purple 0%, $purple 80%, darken($purple, 10%) 100%);
}

.legal p {
  color: #fff;
}
.legal a {
  color: #fff;
	&:hover {
		color: lighten($action-color, 50%)
	}
}
.footeraddress {
	padding: 1em;
	text-align: center;

}
.footerlinks {
	padding: 1em;
	text-align: center;
}

.footerlinks strong{
  font-weight: bold;
}
